# .NET Build Output

bin/
obj/
*.dll
*.exe
*.pdb


# ASP.NET Core

appsettings.Development.json

# Entity Framework

*.mdf
*.ldf
*.ndf


# NuGet
*.nupkg
*.snupkg
**/packages/
*.nuget.props
*.nuget.targets
project.lock.json

# Visual Studio

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
*_wpftmp.csproj

# VS Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# Environment & Secrets

.env
.env.*
secrets.json

# OS Files

.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs & Temp

*.log
*.tmp
.history/
